language: php
php:
  - 7.0
  - 7.1

notifications:
  email:
    recipients:
    - marinealexandre5@gmail.com
    on_success: never
    on_failure: always

before_script:
  - composer install

script:
  - php php-cs-fixer-v2.phar fix . --rules=@Symfony
  - docker run --rm -v $PWD:/app phpqa/security-checker security:check

deploy:
  api_key:
    secure: lIUuGfzBnvfq8uz2L59nKVxSH8wUgkqqWOEmt5DXp6FnmAOTrhamw8tPcrQ65wLx+2ojHyZQgsTDuVvFNV6nYZ0IT41Bgx/kEYbRqqlap0iXZiwBYKUVobwf53zbBA1dbpIMKZs0oSVbCuCUAJBPK/sYrGDFm3Sd6uQrtqgvUjBSUPlvNi38JmK5qMV6hZL9keKazGJBA5hMmcojTkEXAjCF1VwXOdkHS7yesIPTeVgzCkofz0Q+6ujieOnDyORukCrO1Auz7nVv+m12o7R8oLTSnvr0l5NAEH5SDcmlfJllR8lkYgxfmbgsVWi2ytkXu4/0/9czRruE85CdZiDyG42uu/mP93q6C8BbfqNksaA+Jrw/dYb+AOQ1nI8p4yav0quoda972Pbh+jzcKfPEE75/8mZJUrkP9ijM9oVdGENXixqhQcSFaYAQp02lX+IQr4DPxVkKBZRoDH99wjwPK5b/3cZYygvtviYSvCt3qmlx8M3Q+Je0VM7MWTwFIXvYYMtQkR11YY7SZjiH+oXd8Di93kjKLdjIaYbMEpE4JYU2LmZ7bh4nhIfygvm2ttH8Gd5N3rjVB5JukIJaw+v5oUs65k/uoKbdEpvE5HPVQVesChcSYP52oJSe30nVHIShjFeb1w6FVaDtPaMiIzLsP/clY1YW/M+fnMT1ikxsJW4=
